table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
#search {
    width: 20%;
    margin-top: 35px;
    margin-bottom: 35px;
    margin-left:auto;
    margin-right:auto;
}

#add {
    margin-top: 35px;
    }

